sudo: required
language: generic

services:
  - docker

env:
  global:
    - SHA=$(git rev-parse HEAD)
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1

# before_install:
  # - docker build -t cygnetops/react-test -f ./client/Dockerfile.dev ./client
before_install:
  - openssl aes-256-cbc -K $encrypted_9f3b5599b056_key -iv $encrypted_9f3b5599b056_iv -in service-account.json.enc -out service-account.json -d
  - curl https://sdk.cloud.google.com | bash > /dev/null;
  - source $HOME/google-cloud-sdk/path.bash.inc
  - gcloud components update kubectl
  - gcloud auth activate-service-account --key-file service-account.json
  - gcloud config set project multi-k8s-299309
  - gcloud config set compute/zone australia-southeast1-a
  - gcloud container clusters get-credentials multi-cluster
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker build -t pmagas/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true pmagas/react-test npm test

deploy:
  provider: script
  script: bahs ./deploy.sh
  on:
    branch: master
#   region: 'us-east-1'
#   app: 'multi-docker'
#   env: 'MultiDocker-env'
#   bucket_name: 'elasticbeanstalk-us-east-1-923445559289'
#   bucket_path: 'docker-multi'
#   on:
#     branch: master
#   access_key_id: $AWS_ACCESS_KEY
#   secret_access_key: $AWS_SECRET_KEY

# after_success:
#   - docker build -t cygnetops/multi-client-10-14 ./client
#   - docker build -t cygnetops/multi-nginx-10-14 ./nginx
#   - docker build -t cygnetops/multi-serve r-10-14 ./server
#   - docker build -t cygnetops/multi-worker-10-14 ./worker
#   # Log in to the docker CLI
#   - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
#   # Take those images and push them to docker hub
#   - docker push cygnetops/multi-client-10-14
#   - docker push cygnetops/multi-nginx-10-14
#   - docker push cygnetops/multi-server-10-14
#   - docker push cygnetops/multi-worker-10-14

# deploy:
#   provider: elasticbeanqstalk
#   region: 'us-east-1'
#   app: 'multi-docker'
#   env: 'MultiDocker-env'
#   bucket_name: 'elasticbeanstalk-us-east-1-923445559289'
#   bucket_path: 'docker-multi'
#   on:
#     branch: master
#   access_key_id: $AWS_ACCESS_KEY
#   secret_access_key: $AWS_SECRET_KEY
